body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E7EBF3;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 18px 12px;
  border-radius: 16px;
  min-width: 224px;
  min-height: 542px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.profile-container{
  display: flex;
  gap: 12px;
  align-items: center;
}
.profile-pic {
  height: 56px;
  width: 56px;
  border-radius: 12px;
  overflow: hidden;
}

.profile-pic img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.profile-details{
  display: flex;
  flex-direction: column;
}

.profile-details .name{
  font-weight: bold;
  line-height: 1.8rem;
}
.container hr{
  margin: 20px 0;
}

.menu-items .item {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 12px 0;
  justify-content: space-between;
}

.item span{
  font-weight: 600;
}
.menu-items .menu-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-items .menu-label div{
  background: #E9EEFF;
  padding: 6px;
  border-radius: 4px;
}
