body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-container{
    display: flex;
    gap: 20px;
    align-items: center;
    min-height: 40%;
    padding: 40px 20px;
}

.product-images{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: fit-content;
}
.image-container{
    display: flex;
    gap: 12px;
}
.product-images img{
    height: 100px;
    width: 90px;
    border-radius: 12px;
    cursor: pointer;
}
.product-images .active {
    border: 2px solid cornflowerblue;
}
.main-product{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 410px;
    width: 320px;
}
.main-product img{
    height: 100%;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.description {
    width: 330px;
    padding: 10px 4px
}
.subtitle{
    font-size: 13px;
    color: #858585;
    font-weight: 500;
}
.brand{
    color: cornflowerblue;
    font-size: 12px;
    font-weight: 500;
}

.pricing{
    position: relative;
    margin-top: 4px;
}

.price {
    display: flex;
    align-items: center;
    gap: 12px;
}

.price div{
    padding: 2px 4px;
    background: rgba(100, 149, 237, 0.53);
    color: cornflowerblue;
    font-weight: 600;
    border-radius: 4px;
}
.pricing strike{
    position: absolute;
    color: rgba(133, 133, 133, 0.67);
    bottom: 0;
}

.size{
    display: flex;
    gap: 4px
}
.size-box{
    height: 30px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.size-box .active {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: black;
    color: white;
}

.description button{
    margin-top: 16px;
    height: 40px;
    border: none;
    background: cornflowerblue;
    color: white;
    border-radius: 4px;
    width: 100%;
}
